---
import AllenPage from "@components/AllenPage.svelte";


---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Allen | Ken Ramiscal</title>
  </head>
  <body>
    <main class="bg-slate-950">
      <AllenPage client:load/>
    </main>
  </body>
</html>