---
import BlogArticle from "@components/BlogArticle.astro";
import Navbar from "@components/Navbar.svelte";
import SetTheme from "@components/SetTheme.astro";
import "../../styles/globals.css";
const blogPosts = await Astro.glob("./*.md");
const blogFrontmatter = blogPosts.map(
  (blogPost) =>
    blogPost.frontmatter as {
      title: string;
      createdAt: string;
      description: string;
      durationReadInMins: number;
      imageURL: string;
    }
);
---

<html lang="en">
  <head>
    <title>Blog | Ken Ramiscal</title>
    <meta
      name="description"
      content="Ken Ramiscal's blog post lives here. You can find his blogs in this page."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SetTheme />
  </head>
  <body>
    <Navbar activeTab={"blog"} client:load />
    <main class="mt-20">
      <div class="flex flex-col gap-3 md:w-max mx-auto">
        {blogFrontmatter.map((blogPost) => <BlogArticle {...blogPost} />)}
      </div>
    </main>
  </body>
</html>
