@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "Inter hosted";
	src: url("/Inter.var.woff2") format("woff2");
	font-weight: 100 900;
	font-display: swap;
}
@layer base{
	* {
		@apply text-light-content dark:text-dark-content font-inter selection:text-light-accent selection:bg-light-accent selection:bg-opacity-10 dark:selection:text-dark-accent ;
	}
	html, body {
		margin:0;
		padding:0;
	}
	h1, h2, h3, h4, h5, h6 {
		@apply font-bold;
	}
	h1 {@apply text-4xl;}
	h2 {@apply text-3xl;}
	h3 {@apply text-2xl;}
	h4 {@apply text-xl;}
	h5 {@apply text-lg;}
	p, h6 {@apply text-base;}
	body {
		@apply bg-light-primary dark:bg-dark-primary;
	}
	hr {
		@apply border-t-2 border-t-light-secondary dark:border-t-dark-secondary border-opacity-60;
	}
}
.markdown > p {
	@apply my-4 text-sm;
}
.markdown > h2, .markdown > h3, .markdown > h4, .markdown > h5, .markdown > h6 {
	@apply my-4;
}
.markdown > pre code * {
	@apply font-["Cascadia_Code",_monospace] text-sm;
}
.markdown > pre {
	@apply px-4 py-2 rounded-md my-4;
}
.markdown > *:not(pre) code {
	@apply px-1 rounded-sm bg-light-secondary dark:bg-dark-secondary;
}
.markdown a {
	@apply underline text-light-accent dark:text-dark-accent;
}
.markdown ul {
	@apply list-disc pl-8 list-inside;
}
.markdown ol {
	@apply pl-8 list-decimal list-inside;
}
.markdown ul > * {
	@apply my-2;
}