---
import HomeArticle from "@components/HomeArticle.astro";
import Navbar from "@components/Navbar.svelte";
import PreloadCustomFont from "@components/PreloadCustomFont.astro";
import SetTheme from "@components/SetTheme.astro";
import "../styles/globals.css";
const blogs = await Astro.glob("../pages/blog/*.md");
const recentBlogs = blogs
  .sort(
    (a, b) =>
      Date.parse(b.frontmatter.createdAt) - Date.parse(a.frontmatter.createdAt)
  )
  .slice(undefined, 3)
  .map((value) => ({ ...value.frontmatter, url: value.url })) as {
  title: string;
  createdAt: string;
  description: string;
  durationReadInMins: number;
  imageURL: string;
  url: string;
}[];
---

<html lang="en">
  <head>
    <title>Ken Ramiscal</title>
    <meta
      name="description"
      content="Ken Ramiscal's blog post lives here. You can find his blogs in this page."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
    <SetTheme />
    <PreloadCustomFont src="/Inter.var.woff2" type="woff2" />
  </head>
  <body>
    <Navbar client:load activeTab="home" />
    <main class="mt-20 max-w-3xl mx-auto">
      <div class="flex gap-7 items-center m-auto justify-center">
        <div>
          <h1
            class="bg-gradient-to-br from-cus-blue-light to-cus-blue-dark bg-clip-text text-transparent"
          >
            Ken Ramiscal
          </h1>
          <h3>
            <span
              class="bg-gradient-to-br from-cyan-500 to-green-600 bg-clip-text text-transparent"
              >web developer</span
            > and <span
              class="bg-gradient-to-br from-orange-400 to-red-600 bg-clip-text text-transparent"
              >web designer</span
            >
          </h3>
          <div>
            making people realize that coding is fun and you should try it.
          </div>
        </div>
        <img
          src="/assets/profile.png"
          class="max-w-[250px] rounded-[100%]"
          alt="profile"
        />
      </div>
      <div class="mt-5 mx-auto p-5">
        <h3
          class="bg-gradient-to-br from-cus-blue-light to-cus-blue-dark bg-clip-text text-transparent text-center my-4"
        >
          Recent posts
        </h3>
        <div class="flex items-center mx-auto space-x-3">
          {recentBlogs.map((blog) => <HomeArticle {...blog} />)}
        </div>
      </div>
    </main>
  </body>
</html>
