---
const { title, createdAt, description, durationReadInMins, imageURL } =
  Astro.props;
---

<img src={imageURL} alt={"main blog image" + title} />
<div>
  <h4>{title}</h4>
  <div>
    {new Date(createdAt)}
  </div>
</div>
