---
export interface Props {
  frontmatter: {
    title: string;
    createdAt: string;
    description: string;
  };
}
const { frontmatter } = Astro.props;
import "../styles/globals.css";
---

<html lang="en" class="dark">
  <head>
    <title>{frontmatter.title}</title>
    <meta name="description" content={frontmatter.description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h1 class="text-center ">{frontmatter.title}</h1>
    <div class="text-center text-[14px]">{frontmatter.createdAt}</div>
    <article class="markdown">
      <slot />
    </article>
  </body>
</html>
